.id-button {
    color: rgb(244, 248, 247);
    background-color: #008CBA;
  }
  
  .id-container {
    width : 100vw;
    /* border : 1px solid blue; */
  }
  
  .id-input {
    width : 20%;
    margin : 0.5rem;
  }
  
  .panel {
  
    width : 100%;
    margin : 0.5rem;
  }